@import 'base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Pretendard-Regular', sans-serif;
    }

    button,
    input,
    textarea,
    select {
        font-family: inherit;
    }
}

@font-face {
    font-family: 'RIDIBatang';
    src: url('/public/assets/fonts/RIDIBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunCentennial';
    src: url('/public/assets/fonts/ChosunCentennial.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('/public/assets/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Light';
    src: url('/public/assets/fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('/public/assets/fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('/public/assets/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gyeonggi_Batang_Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-3@1.0/Batang_Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunKm';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunKm.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 활성화(active) 상태 버튼용 클래스. jQuery에서 addClass('active')/removeClass('active')로 토글 사용 가능 */
.active {
    background-color: hsl(var(--b1));
    color: hsl(var(--bc));
    border: 2px solid hsl(var(--bc));
}