<footer class="footer footer-center p-10 bg-gray-700 text-white text-xs max-w-md md:text-sm">

    <!-- 페이크 기업-->
<!--    <aside><p class="font-bold">Ninecircle</p>-->
<!--        <p>Business Registration Number: 526-31-01431</p>-->
<!--        <p>CEO: Woo Rim Han</p>-->
<!--        <p>Address: 2nd Floor, 124 Gwangdeok-daero, Danwon-gu, Ansan-si, Gyeonggi-do, South Korea</p>-->
<!--        <p>Business Registration: 2025-Gyeonggi Ansan-0552</p>-->
<!--        <p>Other Inquiries: <a href="mailto:cs.ninecircle@gmail.com">cs.ninecircle@gmail.com</a></p>-->
<!--        <p>Customer Service: 070-8057-6544</p>-->
<!--        <div class="mt-3 flex gap-4 text-white/80">-->
<!--          <a href="/saju/terms" class="underline underline-offset-2 hover:text-white">서비스 이용약관</a>-->
<!--          <span>|</span>-->
<!--          <a href="/saju/privacy" class="underline underline-offset-2 hover:text-white">개인정보 처리방침</a>-->
<!--        </div>-->
<!--    </aside>-->

    <!-- 샵스피어 버전 -->
    <aside><p class="font-bold">샵스피어</p>
        <p>Business Registration Number: 298-13-02167</p>
        <p>CEO: isaac park</p>
        <p>Address: #714-C177, 7F, 11, Dongtanjiseong-ro, Hwaseong-si, Gyeonggi-do, Republic of Korea</p>
        <p>Business Registration: 2022-서울강남-05290</p>
        <p>Other Inquiries: <a href="mailto:cs@saju-maeul.kr">cs@saju-maeul.kr</a></p>
        <p>Customer Service: 070-8057-6544</p>
        <div class="mt-3 flex gap-4 text-white/80">
            <a href="/saju/terms" class="underline underline-offset-2 hover:text-white">서비스 이용약관</a>
            <span>|</span>
            <a href="/saju/privacy" class="underline underline-offset-2 hover:text-white">개인정보 처리방침</a>
        </div>
    </aside>
</footer>