<%- include('./drawer') %>

<div class="bg-transparent top-0 left-0 z-50 fixed navbar bg-base-100 flex justify-center h-16">
    <div class="max-w-7xl w-full">
        <div class="flex-1"><a class="pl-1 btn btn-ghost normal-case text-xl"
                               href="/saju">
                <div class="flex items-center">
                    <img src="/assets/images/tight/logo.png" class="h-10"  alt="로고"/>
                </div>
            </a></div>
        <div class="flex-none"><label class="btn btn-square btn-ghost" for="my-drawer">
                <svg class="inline-block w-7 h-7 stroke-current" fill="none" viewbox="0 0 24 24"
                     xmlns="http://www.w3.org/2000/svg">
                    <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="2"></path>
                </svg>
            </label></div>
    </div>
</div>
